# Ignore everything in Volumes, it contains large and private data.
Volumes/*

# Ignore backed up config files.
*.yml.*backup*
*.yml.*Backup*
*.yml.*BACKUP*
*.yml.*bkp*

# Ignore logs
logs

# Ignore private reverse proxy configurations.
Config/ReverseProxy/config/conf.d/*
Config/ReverseProxy/config/html/*
Config/ReverseProxy/config/hosts/*
Config/ReverseProxy/config/load.conf.d/*
Config/ReverseProxy/config/mail.conf.d/*

# Ignore any private key information.
private.key

# Ignore DNS config files, contain private settings.
Config/DNS/config/*

# Ignore anything in disabled folders.
disabled

# Ignore any .env files which are not explicitly committed to the project.
*.env

# 2024-01-23 Ignore true docker-compose files, only show examples from now on.
docker-compose.yml

# 2024-01-24 Hide static files for Hyperling.com.
Config/Hyperling.com/files/*
