# Ignore everything in Volumes, it contains large and private data.
Volumes/*

# Ignore backed up config files.
*.yml.*backup*
*.yml.*Backup*
*.yml.*BACKUP*

# Ignore logs
logs/*

# Ignore private reverse proxy configurations.
Config/ReverseProxy/config/conf.d/*
Config/ReverseProxy/config/html/*
Config/ReverseProxy/config/hosts/*
Config/ReverseProxy/config/load.conf.d/*
Config/ReverseProxy/config/mail.conf.d/*

# Ignore downloaded mail server files.
Config/MailServer/setup.sh

# Ignore any private key information.
private.key

# Ignore secrets for Invidious.
Config/Invidious/*.env

# Ignore DNS config files, contain private settings.
Config/DNS/config/*

# Ignore anything in disabled folders.
*/disabled/*
