# Ignore everything in Volumes, it is large and private data.
Volumes/*

# Ignore backed up config files.
*.yml.*

# Ignore logs
logs/*

# Ignore private reverse proxy configurations.
Config/ReverseProxy/config/cond.d/*
