# File to hold any specific DNS servers you'd like to use. This is helpful in
#  situations such as Nextcloud needing to access an OnlyOffice server on the
#  internal network but the router does not allow the traffic to go out and back
#  in. Therefore a local DNS is necessary in order to tell Nextcloud that the
#  document server is a local IP address rather than the WAN address like an
#  external DNS would.
# This file should be sourced by the shell instance starting the containers, it
#  unfortunately cannot be specified in the env_file: element because the dns:
#  element reads its variables before env_file: is loaded. Putting the servers
#  into environment: works but then the configuration is no longer private.

# A private DNS server, such as one run by this project's Config/DNS/ config.
DNS1=10.110.1.53

# Fallback server, such as Cloudflare 1.1.1.1 or the system's local gateway.
DNS2=192.168.1.1

# Explicitly defined external DNS servers.
DNS_EX1=1.1.1.1
DNS_EX2=1.0.0.1
