
##
# PhotoPrism
##

# Admin Details
PHOTOPRISM_ADMIN_USER = "admin"                 # admin login username
PHOTOPRISM_ADMIN_PASSWORD = "PleaseChangeMe"    # initial admin password (8-72 characters)

# Max Storage Space?
PHOTOPRISM_ORIGINALS_LIMIT = 5000               # file size limit for originals in MB (increase for high-res video)

# Site Metadata
PHOTOPRISM_SITE_CAPTION = "AI-Powered Photos App"
PHOTOPRISM_SITE_DESCRIPTION = ""                # meta site description
PHOTOPRISM_SITE_AUTHOR = ""                     # meta site author

# NSFW
PHOTOPRISM_DETECT_NSFW = "false"                # automatically flags photos as private that MAY be offensive (requires TensorFlow)
PHOTOPRISM_UPLOAD_NSFW = "true"                 # allows uploads that MAY be offensive (no effect without TensorFlow)

# Data Limits
PHOTOPRISM_FFMPEG_ENCODER = "software"          # H.264/AVC encoder (software, intel, nvidia, apple, raspberry, or vaapi)
PHOTOPRISM_FFMPEG_SIZE = "720"                  # video size limit in pixels (720-7680) (default: 3840)
PHOTOPRISM_FFMPEG_BITRATE = "2"                 # video bitrate limit in Mbit/s (default: 50)

##
# MariaDB
##
MARIADB_DATABASE = "photoprism"
MARIADB_USER = "photoprism"
MARIADB_PASSWORD = "PleaseChangeMe"
MARIADB_ROOT_PASSWORD = "PleaseChangeMe"
