# Example environment file for Nextcloud stack, should be copied as `.env`.

## Nextcloud ##

PHP_UPLOAD_LIMIT=5G

## MySQL ##

MYSQL_HOST=db
MYSQL_DATABASE=nextcloud
MYSQL_ROOT_PASSWORD=ChangeMe
MYSQL_USER=nc
MYSQL_PASSWORD=changeme

## REDIS ##

REDIS_HOST=redis
REDIS_HOST_PASSWORD=someredispassword
