# Example environment file for Nextcloud stack, should be copied as `.env`.

#
## Nextcloud ##
#
# Full guide on the parameters which may be supplied:
#   (TBD, surely it exists somewhere?)

PHP_UPLOAD_LIMIT=5G

#
## MariaDB ##
#
# Should load automatically the first run. Then config.php is the source of
#   truth for these values. So, if something like the DB password is changed,
#   updating it here will have no effect. This is only used for the install.

MYSQL_HOST=nc-db
MYSQL_DATABASE=nextcloud
MYSQL_ROOT_PASSWORD=ChangeMe
MYSQL_USER=nc
MYSQL_PASSWORD=changeme

#
## Redis ##
#
# Installs automagically if both of these parameters are supplied.

REDIS_HOST=nc-redis
REDIS_HOST_PASSWORD=someredispassword

#
## OnlyOffice ##
#
# How Nextcloud's ONLYOFFICE Admin Settings should be set up:
#   OO Address: https://FQDN-For-Reverse-Proxied-OO-Server
#   OO Secret: Contents-Of-$JWT_SECRET
#   OO Header:
#   OO Internal Address: http://docker-server-ip:8081 ?OR http://nc-oo:8081?
#   NC Internal Address: http://docker-server-ip:8080 ?OR http://nc-app:8080?

# Secret key which is used above in the Nextcloud ONLYOFFICE Administration UI.
JWT_SECRET=abc123
